@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500;600;800&display=swap');

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#2e095f,#041026);
}

.title {
    font-size: 5rem;
    color: #fff;
    animation: flipTitle 2s ;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

@keyframes flipTitle {
    from{
        transform: rotateX(90deg);
    }
    to{
       transform: rotateX(0deg); 
    }
}

.containerInput {
    background-color: #30353E ;
    padding: 15px;
    margin: 34px 0;
    display: flex;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.5) ;
}

.containerInput input {
    background-color: transparent;
    border: 0;
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 1rem;
    outline: none;
    margin-right: 8px;
}

.containerInput input::placeholder {
    color: #f1f1f1;
    opacity: 0.6;
}

.buttonSearch {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}

.buttonSearch:hover {
    transform: scale(1.1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 500px;
    border-radius: 8px;
    font-family: 'Nunito', sans-serif;
    box-shadow: 1px 3px 8px rgba(0,0,0,0.6);
}

main h2{
    margin: 13px 0;
    font-size: 1.7rem;
    font-weight: 600;
}

main span{
    margin-bottom: 16px;
    font-size: 1.2rem;
    font-weight: 500;
}

@media(max-width: 620px){
    .title {
        font-size: 60px;
    }

    main {
        width: 80%;
    }

    main h2 {
        font-size: 1.4rem;
    }

    main span {
        font-size: 1.1rem;
    }
}